run="pnpm run dev"
entrypoint = "index.ts"
hidden = [".build", ".config"]


[packager]
language = "nodejs-pnpm"
[packager.features]
packageSearch = true
guessImports = true

[languages.js]
pattern = "**/*.ts"
[languages.js.languageServer]
start = ["typescript-language-server", "--stdio"]

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]
