run = "bun run dev"
entrypoint = "index.ts"
modules = ["bun-1.0:v1-20230911-f253fb1"]

hidden = [".config", "bun.lockb"]

[nix]
channel = "stable-22_11"

[deployment]
build = ["sh", "-c", "mkdir .build && bun build index.ts > .build/index.js"]
run = ["bun", ".build/index.js"]
deploymentTarget = "cloudrun"
