run="pnpm run dev"
entrypoint = "index.ts"
hidden = [".build", ".config"]


[packager]
language = "nodejs-pnpm"
[packager.features]
packageSearch = true
guessImports = true

[languages.js]
pattern = "**/*.ts"
[languages.js.languageServer]
start = ["typescript-language-server", "--stdio"]

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[deployment]
run = ["tsx", "index.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false
